.container{
  width:960px;
  height:500px;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
}

.envFace{
  position:absolute;
  width:100%;
  height:500px;
  /*overflow:hidden;*/
}

.front{
  background: #CCCCCC;
  display: table;
}

.front h1 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.back1 {
    z-index: 30;
}

.back2 {
    z-index: 20;
}

.back .top {
		position: absolute;
		top: -10px;
		left: 0px;
		width: 100%;
		height: 300px;
		z-index: 30;
		overflow: hidden;
}

.back .outer {
		position: absolute;
		bottom: 0;
		left: -100px;
		border-left: 580px solid transparent;
		border-right: 580px solid transparent;
		border-top: 300px solid #EEE;
}
.back .outer .inner {
		position: absolute;
		left: -550px;
		bottom: 20px;
		border-left: 550px solid transparent;
		border-right: 550px solid transparent;
		border-top: 280px solid #333;
}
.back .bottom {
		position: absolute;
		z-index: 20;
		bottom: 0px;
		left: 20px;
		border-left: 460px solid transparent;
		border-right: 460px solid transparent;
		border-bottom: 245px solid #333;
}
.back .left {
		position: absolute;
		z-index: 10;
    bottom: 10px;
		left: 0px;
		border-left: 480px solid #333;
		border-top: 200px solid transparent;
		border-bottom: 255px solid #EEE;
}
.back .right {
		position: absolute;
		z-index: 10;
		bottom: 10px;
		right: 0px;
		border-right: 480px solid #333;
		border-top: 200px solid transparent;
		border-bottom: 255px solid #EEE;
}

.card {
    position: absolute;
		min-height: 500px;
		width: 100%;
		top: 0px;
		left: 0px;
    z-index: 10;
}

.card .outerBlank {
    background: #cccccc;
}


.cardFace {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: visible;
    -webkit-transition: all 0.5s ease-out;
    -webkit-transform-origin: 0 0;
}

.card .outerBG {
    background: url(http://c10h20o.com/ups/scratch/2016/v1/images/bg-outer.jpg) no-repeat;
    z-index: 3;
}

.card .outerBlank {
  z-index: 2;
}

.card .innerBG {
  background: url(http://c10h20o.com/ups/scratch/2016/v1/images/bg-inner.jpg) no-repeat;
  z-index: 1;
}

.greetings {
    position: relative;
    /* height: 500px; */
    width: 75%;
    margin: auto;
}

.content {
    /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px auto;
    padding: 20px;
    background: rgba(54, 20, 0, 0.85);
    color: #FFFFFF;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.rewards {
    width: 30%;
    height: auto;
    max-height: 200px;
    margin: 5px;
    object-fit: contain;
}

.rewards-container {
    text-align: center;
}

.btn-reply {
    text-align: center;
    margin: 30px 0 0 0;
}

.btn-reply a {
    background: rgba(54, 20, 0, 1);
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px 30px;
    text-decoration: none;
    display: inline-block;
}