body {
  margin: 0;
  font-size: 21px;
  box-sizing: border-box;
  background: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.absolute {
  position: absolute;
}

input,
textarea {
  font-family: "Homemade Apple";
  background: transparent;
  border: none;
}

input {
  margin-left: 10px;
  width: 240px;
  font-size: 0.8em;
  letter-spacing: 2px;
  padding: 5px;
}

.postcard {
  position: relative;
  width: 740px;
  height: 498px;
  margin: 0 auto;
  background: url('https://developer.mozilla.org/files/4151/background.jpg'); /*img from: https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/Styling_HTML_forms */
  font-family: "MedievalSharp";
  border: 2px solid #ccc;
  box-shadow: 7px 7px 20px #555;
}

.receiver {
  right: 40px;
  top: 185px;
}

.sender {
  right: 40px;
  top: 235px;
}

.reply {
  right: 40px;
  top: 290px;
}

.message {
  left: 25px;
  top: 100px;
}

.message textarea {
  margin-top: 10px;
  padding: 10px;
  font-size: 0.7em;
  background: transparent;
  letter-spacing: 3px;
  line-height: 1.5em;
}

.send-btn {
  right: 130px;
  top: 360px;
}

button{
  font: 0.6em sans-serif;
  font-weight: bold;
  padding: 10px;
  background: transparent;
  border: 2px solid black;
  border-radius: 5px;
  transform: rotate(-1.5deg);
}

.send-btn:hover {
  background: #ccc;
  top: 362px;
}

textarea:focus,
input:focus,
button:focus {
  outline-color: #ccc;
}